@media screen and (max-width:1090px) {
    .secao-sobre{
       overflow-x: scroll;
      }
      html {
        overflow-x: hidden;
        width: 100vw;
    }
    .secao-galeria__obras:hover {
        transform: none;
        pointer-events: none;
    }
}
@media screen and (max-width:1042px) {
    .secao-sobre {
        justify-content: flex-start;
    }
}
@media screen and (max-width:950px) {
    .after-ler-mais {
        width:80vw;
        height: auto;
        gap: 2rem;
        padding-bottom: 4rem;
    }
    .container-quiz {
        width: 100%;
    }
    .container-mestres {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        margin: auto;
    }
    .container-mestres__img {
        float: none;
        width: 80%;
        height: auto;
    }
    h4 {
        font-size: 5.5rem;
        text-align: center;
    }
    .container-mestres__texto p {
        font-size: 2rem;
    }
    .containerAutora__titulo {
        font-size: 4rem;
    }
    .containerAutora p {
        max-width: 70vw;
    }
}
@media screen and (max-width:660px) {
    .select-artist {
        padding: 1rem 0;
        gap: 1rem;
        flex-direction: column;
        text-align: center;
    }
    #select-artist__button {
        width: 20rem;
        margin: 0;
    }
}
@media screen and (max-width:500px) {
    body {
        overflow-x: hidden;
    }
    header {
        overflow-x: scroll;
    }
    .after-ler-mais {
        width:100vw;
    }
    .wellcome-text__wellcome__title {
        text-align: center;
    }
    .containerAutora p {
        max-width: 90vw;
    }
}
